# Subqueries Lab

### Introduction

In [9]:
orders = {"headers": ["order_number", "customer_number"], "values": [[1, 1], [2, 2], [3, 3], [4, 3], [5, 1]]}

In [10]:
import pandas as pd
def build_dataframe(data):
    columns = data['headers']
    values = data['values']
    df = pd.DataFrame(values)
    df.columns = columns
    return df

In [11]:
import sqlite3

conn = sqlite3.connect('crm.db')

In [12]:
orders_df = build_dataframe(orders)

In [13]:
orders_df.to_sql('orders', conn, if_exists = 'replace', index = False)

5

### Viewing our Data

In [14]:
pd.read_sql('select * from orders', conn)

   order_number  customer_number
0             1                1
1             2                2
2             3                3
3             4                3
4             5                1

### Problem

Write an SQL query to find the customer_number for the customer or customers who have placed the largest number of orders.

In [19]:
query = """ 
select customer_number, count(*) as total from orders group by customer_number having total =  (select count(*) amount from orders group by customer_number order by amount desc limit 1)
"""

pd.read_sql(query, conn)

# customer_number	total
# 0	1	2
# 1	3	2

   customer_number  total
0                1      2
1                3      2

### References

[Customer largest orders](https://leetcode.com/problems/customer-placing-the-largest-number-of-orders/)