# Window Functions

### Introduction

In this section, let's review the material on window functions.

In [ ]:
###

In [8]:
scores = {"headers": ["id", "score"], "values": [[1, 3.50], [2, 3.65], [3, 4.00], [4, 3.85], [5, 4.00], [6, 3.65]]}

In [9]:
import pandas as pd
def build_dataframe(data):
    columns = data['headers']
    values = data['values']
    df = pd.DataFrame(values)
    df.columns = columns
    return df

In [10]:
import sqlite3

conn = sqlite3.connect('crm.db')

In [11]:
orders_df = build_dataframe(scores)

In [12]:
orders_df.to_sql('scores', conn, if_exists = 'replace', index = False)

6

In [13]:
pd.read_sql('select * from scores', conn)

   id  score
0   1   3.50
1   2   3.65
2   3   4.00
3   4   3.85
4   5   4.00
5   6   3.65

### Problem

Write an SQL query to rank the scores. The ranking should be calculated according to the following rules:

* The scores should be ranked from the highest to the lowest.
* If there is a tie between two scores, both should have the same ranking.
* After a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no holes between ranks.

In [14]:
pd.read_sql('select * from scores', conn)

   id  score
0   1   3.50
1   2   3.65
2   3   4.00
3   4   3.85
4   5   4.00
5   6   3.65