# Cross Device Users

### Introduction

We have two tables. One table has all mobile actions, i.e. all pages visited by the users on mobile. The other table has all web actions, i.e. all pages visited on web by the users.

## Loading our Data

In [2]:
import pandas as pd

In [4]:
mobile_actions = pd.read_csv('./query/query_two_mobile.csv')
web_actions = pd.read_csv('./query/query_two_web.csv')

We have two tables. One table has all mobile actions, i.e. all pages visited by the users on mobile. The other table has all web actions, i.e. all pages visited on web by the users.

Write a query that returns the percentage of mobile users who did not visit web, and in a different column return the percentage of mobile users who also purchased web.  The sum of the percentages should return 1.

In [5]:
import sqlite3
conn = sqlite3.connect('users.db')

mobile_actions.to_sql('mobile_actions', conn, index = False, if_exists = 'replace')
web_actions.to_sql('web_actions', conn, index = False, if_exists = 'replace')

2021

### Exploring our Data

In our database we have a list of `mobile_actions` and a unique list of `web_actions` in those respective tables.

In [6]:
pd.read_sql("select * from web_actions limit 3", conn)

   user_id        page
0     1210  page_1_web
1     1275  page_1_web
2     1283  page_4_web

In [7]:
pd.read_sql("select * from mobile_actions limit 3", conn)

   user_id           page
0      128  page_5_mobile
1     1324  page_2_mobile
2     1343  page_6_mobile

### Finding Web Only

From the table of mobile actions, find the percentage of *web visitors* who did not visit on mobile.

> **Hint**: to display the calculation, multiply the percentage by 100.

In [21]:
query = """
select 100*sum(case when mobile_users.user_id is not null then 1 else 0 end)/count(*) as is_mobile, 
100*sum(case when web_users.user_id is not null then 1 else 0 end)/count(*) as is_web
from mobile_users 
left join (select distinct(user_id) from web_actions) web_users 
on web_users.user_id = mobile_users.user_id
"""

pd.read_sql(query, conn)

# 	web_but_not_mobile
# 0	23

   is_mobile  is_web
0        100      62

### Combining All Users

Another use case of subqueries is with a union.  Take a look at the [following description](https://mode.com/sql-tutorial/sql-sub-queries/#subqueries-and-unions) of how to use a subquery with unions.

Then, use a union and a subquery to create a count of all of the total number of users -- combining both web and mobile.

In [29]:
query = """
select count(*) as total_rows FROM (select distinct(mobile_actions.user_id) from mobile_actions
UNION
select distinct(web_actions.user_id) from web_actions)
"""

pd.read_sql(query, conn)

   total_rows
0        1833

> Remember that the difference between union and union all is that union all will not remove duplicate rows or records.

### Resources

[subqueries](https://www.essentialsql.com/sql-subqueries/)