# Belongs to Practice

### Toy Store

Now let's imagine that we run a toy store.  We want to keep track of all of the kinds of toys that we sell.  We have the following tables below.  

Add in foreign keys to connect so that each toy has a single age group, and that is associated with a single brand.

```sql
create table toys (
id INTEGER primary key,
name TEXT
);

create table age_groups (
id INTEGER primary key,
minimum_age INTEGER,
maximum_age INTEGER
);

create table brands (
id INTEGER primary key,
name TEXT
);

insert into toys (name) VALUES
('tricycle'),
('bicycle'), 
('ironman action figure'), 
('paw patrol dog'),
('rainbow unicorn'),
('playdoh'),
('jump rope');

insert into brands (name) VALUES
('huffy'), 
('marvel'), 
('mattel'),
('playco');

insert into age_groups (minimum_age, maximum_age) VALUES
(1, 3), 
(3, 5), 
(5, 7),
(8, 11);

select * from age_groups;
select * from toys;
select * from brands;
```

* Write a query to find all of the toys made by mattel
* Then find the minimim age of the tricycle
* Find all of the toys in the first age group (for those three or younger)
* Find the age group associated with the jump rope

### Modeling Longform Articles

Longform is a website that collects some of the best journalism articles (or at least it used to until 2021).  Take a look at the [best of 2021](https://longform.org/lists/best-of-2021) list here.

Here, we want to model those articles.

Begin by inserting the foreign keys in the tables and the related data.

```sql
create table articles (
id INTEGER primary key,
name TEXT
);

create table authors (
id INTEGER primary key,
name TEXT
);

create table publications (
id INTEGER primary key,
name TEXT
);

insert into authors (name) VALUES 
('The Atlantic'),
('The New Yorker'),
('New York Times Magazine'),
('Elle');

insert into authors (name) VALUES 
('Stephanie Clifford'),
('Robert Kolker'),
('Jazmine Hughes'),
('Michael Schulman'),
('Anand Gopal'),
('Jennifer Senior');

select * from authors;


insert into articles (name) VALUES
('On Succession, Jeremy Strong...'), 
('What Bobby McIlvaine Left Behind'), 
('The Other Afghan Women'),
("The Subversive Joy of Lil Nas X's Gay Pop Stardom"),
("Who Is the Bad Art Friend?"),
("The Journalist and the Pharma Bro");

select * from articles;
```

Then write queries to answer the following questions.

* What is the name of the publication that wrote `"The Journalist and the Pharma Bro"`.
* Return the names of all of the articles written by `"The New Yorker"`.
* Return the number of articles written by the `"The New York Times Magazine"`