# Modeling Belongs To

### Introduction

In this lesson, we'll continue to practice working with our belongs to relationships.  We'll provide the tables, and some initial data.  But it will be your job to add the foreign keys, as well as the data related to the foreign keys.

Use the [khan academy SQL project](https://www.khanacademy.org/computing/computer-programming/sql/relational-queries-in-sql/pp/project-famous-people) as a place to add the tables and data.

### Artists, Songs and Genres

Let's start by modeling bands, songs and genres.  We'll say that an band has many songs, and that each song has only one genre.  

```sql
create table bands (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

create table songs (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

create table genres (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

INSERT INTO songs (name) VALUES
('Get Back'),
('Hold Your Hand'),
('Naive');

INSERT INTO bands (name) VALUES
('The Beatles'),
('The Kooks');


INSERT INTO genres (name) VALUES
('Rock'),
('Indie'),
('Pop');

select * from bands;
select * from genres;
```

1. Add in the foreign keys needed to relate songs, genres, and bands tables.  

2. Then write a query to find all of the songs `The Beatles`.

3. Finally, write a query to find all of the genres of The Beatles.

4. Now what if in addition to bands we also have musicians, and each musician only has one band.  Add the musicians table, and make any needed changes to the rest of the tables.


```sql
create table musicians (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

INSERT INTO musicians (name) VALUES
('Luke Pritchard'),
('John Lennon'),
('George Harrison'),
('Paul McCartney');

select * from musicians;
```

5. Find all of the generes of a musician - say `John Lennon`.

### Teams and Players

Let's say that we want to keep track of the teams that different professional basketball players are on.  We'll start with two tables. 

Add the related foreign keys.

```sql
create table players (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

create table teams (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

INSERT INTO players (name) VALUES
('Joel Embiid'), 
('Scottie Barnes'), 
('James Harden'), 
('Chris Boucher'), 
('Paskal Siakam');

INSERT INTO teams (name) VALUES
('Toronto Raptors'), 
('Philadelphia 76ers'); 
```

* Then write out the query to find the players on any NBA team - say the `'Toronto Raptors'`.

* And find the name of the team that James Harden is on.

* Now let's add a table called countries, and structure the tables so we can associate players with the country they were born in.

```sql
create table countries (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

INSERT INTO countries (name) VALUES
('USA'), 
('Cameroon'), 
('Canada');

select * from countries;
```

* After filling the associations, write a query to find all of the  players born in the USA.  
* Then write a query to display all of the countries of players on the 76ers.

### Teachers and Subjects

* Let's say that we want to model teachers in a high school.  Each teacher is only associated with one department, and a teacher only teaches one subject.  A given subject is taught by multiple teachers.

```sql
create table teachers (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

create table departments (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

create table subjects (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

INSERT INTO teachers (name) VALUES
('Ms. Frizzle'), 
('Jack Black'), 
('Einstein'), 
('Darwin'),
('Mr. Holland');

INSERT INTO departments (name) VALUES
('Music'), 
('Science');

INSERT INTO subjects (name) VALUES
('Biology'), 
('Classical Music'),
('Physics'),
('Rock Music');
```


* Write out the associated queries to find all of the teachers in a department (say the Music department), and to find the name of department of a teacher - say Einstein.  

* Then write a query to find all of the subjects taught by the Biology department.

* Write a query to find the name of the subject taught by `Ms. Frizzle`

* Find the name of the department of `Ms. Frizzle`.

* Find the names of all teachers in the music department.